#feedbackLog {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;

  width: 300px;
  height: 50px;

  font-size: 30px;
}

#coinImg {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  top: 40%;

  height: 150px;
  width: 150px;
}

#btnDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;

  z-index: 3;
}

#btn,
#showBtn,
#rstBtn {
  height: 50px;
  width: 200px;

  font-size: 20px;

  border: none;
  background-color: yellow;
}

#SonBadak {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}

#SonDeung {
  position: absolute;
  left: 53%;
  top: 5%;
  transform: translateX(-50%);

  z-index: 1;
}
